{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {% if form %}
    {{ form.csrf_token }}

    {{ form.email.label }}
    {{ form.email() }}
    <br>
    {{ form.password.label }}
    {{ form.password() }}
    <br>
    {{ form.saveMe.label }}
    {{ form.saveMe() }}
    <br>
    {{ form.submit() }}
    {% endif %}
    {{ message }}
    <h3><a href="/">Главная</a></h3>
    {% if message != 'Авторизация прошла успешно' %}
    <h3><a href="/register">Регистрация</a></h3>
    {% endif %}
    <h3><a href="/about">О нас</a></h3>

</form>

{% endblock %}